# OS files
**/.DS_Store

# Python
**/.python-version

# IDE
.idea/*
.vscode/*

## Emacs
*~
\#*\#
.\#*
**/.projectile

# Python cache files
**/__pycache__/
*.py[cod]
*.egg-info/

# Node
**/node_modules/
**/tsconfig.tsbuildinfo

# Wallet data
**/wallet_data.txt

# Tools
**/.pytest_cache
**/.ruff_cache
**/.mypy_cache
**/.coverage

# Build
**/_build/
**/build/
**/dist/
**/coverage/

# Virtual Environments
**/venv/
**/.venv/

# Environment Configurations
**/env/
**/.env/
**/.env
**/.env.*
